<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <% include includes/header %>
</head>
<body>
    <div class="container">
        <div class="card text-center mt-5">
            <div class="card-body">
                <h1><span class="fa fa-lock"> Login or Register</span></h1>
                <a href="/login" class="btn btn-ligth btn-lg"><span class="fa fa-user"></span> Local Login</a>
                <a href="/signup" class="btn btn-ligth btn-lg"><span class="fa fa-user"></span> Local Signup</a>
                
            </div>

        </div>

    </div>
</body>
</html>